# Java
target/
*.class
*.jar
*.war

# Logs
*.log

# Eclipse
.settings/
.project
.classpath
src/main/resources/application-local.properties
src/main/resources/application-docker.properties

# IntelliJ
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Environment
.env
